{% extends 'base.html' %}

{% block title %}Pricing -{{block.super}} {% endblock title %}

{% block content %}

{% include 'base/messages.html' %}

{% comment %} copy pill tabs from flowbite {% endcomment %}

<li> <a href={{ monthly_url }} class='{% if active==monthly_qs bg-blue %} {% endif %}'> Montly</a> </li>
<li><a href= {{ yearly_url }} class='{% if active==yearly_qs bg-blue %} {% endif %}'> Yearly </a></li>

{% comment %} After all the blablabla {% endcomment %}
{% for price_obj in object_list %}
 {% comment %} {% for price_obj in yearly_qs %} {% endcomment %}
{% include 'subscriptions/card/pricingcard.html' with object=price_obj %}
{% endfor %}

{% endblock content %}