{% extends 'base.html' %}

{% block title %}Users {{block.super}} {% endblock title %}

{% block content %}

{% include 'base/messages.html' %}

{% comment %} {{ perms }} checking list of permission {% endcomment %}

    {% comment %} If user is authorized to see other users list {% endcomment %}
    {% if perms.auth %} 
{% if perms.auth.view_user %}
    <h1>Users!</h1>

    <div>

    {% comment %} Iterating through users that are active {% endcomment %}
    {% for instance in object_list %}

<li><a href='/profiles/{{instance.username}}'> {{instance.username}} </a></li>
    {% endfor %}

</div>



{% endif %}

{% else %}

<h1>You are not authorized to see other users list.</h1>

{% endif %}

{% endblock content %}